<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <!--最大上传过期时间为1个小时，最大视频大小为500M-->
        <httpRuntime executionTimeout="3600" maxRequestLength="512000"/>
        <customErrors mode="On" defaultRedirect="techdifficulties.aspx">
        </customErrors>
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="liminjun2007@gmail.com">
                <network host="smtp.gmail.com" defaultCredentials="false"
                          port="587" userName="您的邮箱账号" password="您的邮箱密码"/>
            </smtp>
        </mailSettings>
        
    </system.net>
    
</configuration>
